.wrapper {
    display: flex;
}

.container-content {
    width: fit-content;
    margin: 0px auto;
    border: 2px solid pink;
    padding: 20px 50px;
}

.btn-add-layout {
    text-align: right;
}

.search-box {
    text-align: center;
}

input {
    padding: 10px 10px;
    border: 1px solid blue;
}

select {
    padding: 10px 10px;
    border: 1px solid blue;
    width: 100px;
}

.info {
    margin-top: 30px;
}
/* edit table theme */
table {
    width: 100%;
}

th {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
}

tr {
    height: 30px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* 3 pattern of button */
button {
    background-color: #6095cf;
    color: white;
    border: 1px solid #385d8a;
    opacity: 0.8;
    padding: 3px 10px;
}

.button-2 {
    background-color: #4f81bd;
    color: white;
    border: 3px solid #385d8a;
    padding: 10px 30px;
    border-radius: 10px;
}

.button-3 {
    background-color: #6095cf;
    color: white;
    opacity: 0.7;
    border: 3px solid #385d8a;
    padding: 10px 30px;
    border-radius: 10px;
}


