.wrapper {
    display: flex;
}

.box-register {
    width: fit-content;
    margin: 50px auto;
    border: 2px solid #45749a;
    padding: 30px;
}

.error {
    color: red;
}

label {
    display: inline-block;
    background-color: #70ad47;
    border: 1px solid #45749a;
    padding: 5px 10px;
    margin: 3px 20px;
    width: 120px;
}

label::after {
    content: " *";
    color: red;
}

.address-label::after {
    content: unset;
}

.image-label::after {
    content: unset;
}

input {
    padding: 5px 0px;
    border: 1px solid #45749a;
}

.gender-input {
    width: 30px;
}

.image {
    display: flex;
    align-items: center;
}

.image-input {
    padding: unset;
    border: unset;
}

select {
    padding: 5px 0px;
    width: 150px;
    border: 1px solid #45749a;
}

.btn-register {
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #45749a;
    border-radius: 5px;
    background-color: #70ad47;
}




