.wrapper {
    display: flex;
}

.box-submit {
    width: fit-content;
    margin: 50px auto;
    border: 2px solid #45749a;
    padding: 30px;
}

label {
    display: inline-block;
    background-color: paleturquoise;
    border: 1px solid #45749a;
    padding: 5px 10px;
    margin: 3px 20px;
    width: 120px;
}

.image {
    display: flex;
    align-items: flex-start;
}

.image-result {
    display: block;
    width: 200px;
    height: 150px;
}


.btn-submit {
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #45749a;
    border-radius: 5px;
    background-color: paleturquoise;
}